.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  text-align: center;
}

.crypto-tracker {
  display: inline-block;
  width: 80%;
  /* border: 1px solid black; */
  margin: 20px;
}

.crypto-tracker h1 {
  text-align: left;
  margin: 30px;
}

.crypto-row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  margin-top: 40px;
}

.crypto-block {
  border: 2px solid rgb(174, 171, 171);
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  text-align: left;
  place-self: center;
}

.crypto-block h3{
  font-size: 30px;
  margin: 0;
}

.crypto-block .p-price {
  color: orange;
  font-weight: bold;
  font-size: 20px;
  margin-top: 3px;
}

.div-volume { 
  width: 49%;
  float: left;
  display: block;
}
.div-change { 
  width: 35%;
  float: right;
  display: block;
}
.div-change p, .div-volume p{
  margin: 2px;
  color: grey;
}

@media only screen and (max-width: 1200px) {
  .crypto-tracker {
    width: 100%;
  }
  .crypto-row {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  .crypto-tracker {
    width: 100%;
  }
  .crypto-row {
    grid-template-columns: auto;
  }

  .div-change, .div-volume {
    width: 100%;
  }
}
